.travis.yml
.jshintrc
.editorconfig
.bowerrc

karma.conf.js
gulpfile.js
rollup.config.js
tsconfig.json
tslint.json
bower.json
typings.json

*.log

.vscode/
.directory/

build/
test/
examples/
releases/
src/
typings/
node_modules/
bower_components/
