<!doctype html>
<html ng-app="MyApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>HTML - ng-i18next</title>

	<style>
		.mBottom, code {
			margin-bottom: 40px;
			display:block;
		}
	</style>

	<script src="../../bower_components/angular/angular.js"></script>
	<script src="../../bower_components/i18next/release/i18next-1.6.3.min.js"></script>
	<script src="../../dist/ng-i18next.js"></script>
	<script src="directive.js"></script>

</head>

<body>
	<!-- You can escape HTML here: http://www.htmlescape.net/htmlescape_tool.html -->
	<div ng-controller="MyDirectiveCtrl">
		<p>
			Change language to: <br>
			<a href="#" ng-click="changeLng('dev')">English</a><br>
			<a href="#" ng-click="changeLng('de')">German</a>
		</p>

		<h2 ng-i18next="directive.withHTML"></h2>

		<p ng-i18next="[html]directive.basicUsageHTML"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;[html]directive.basicUsageHTML&quot;&gt;&lt;/p&gt;
		</code>

		<p ng-i18next="directive.basicUsageHTMLAsText"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;directive.basicUsageHTMLAsText&quot;&gt;&lt;/p&gt;
		</code>

		<p ng-i18next="[html]directive.dynamicHTML"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;[html]directive.dynamicHTML&quot;&gt;&lt;/p&gt;
		</code>

		<p ng-i18next="directive.dynamicHTMLAsText"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;directive.dynamicHTMLAsText&quot;&gt;&lt;/p&gt;
		</code>

		<p ng-i18next="directive.getTranslationKeyFromScope"></p>
		<p ng-i18next="[html]{{bindingVariable}}"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;[html]{{bindingVariable}}&quot;&gt;&lt;/p&gt;
		</code>


		<h2 ng-i18next="directive.innerDirective"></h2>

		<p ng-i18next="[html]sayHelloHTML"></p>
		<code ng-non-bindable>
			&lt;p ng-i18next=&quot;[html]sayHelloHTML&quot;&gt;&lt;/p&gt;
		</code>

		<p>&nbsp;</p>

	</div>
</body>
</html>
